In [ ]:
pip install pandas

In [7]:
import pandas as pd
df1 = pd.read_csv('data/nominal-index_csv.csv')
df2 = pd.read_csv('data/nominal-year_csv.csv')
df3 = pd.read_csv('data/real-index_csv.csv')
df4 = pd.read_csv('data/real-year_json.json')

             date                    country   price
0      1966-03-31  Emerging market economies     NaN
1      1966-03-31         Advanced economies     NaN
2      1966-03-31       United Arab Emirates     NaN
3      1966-03-31                    Austria     NaN
4      1966-03-31                  Australia     NaN
...           ...                        ...     ...
12622  2017-09-30                   Thailand  128.52
12623  2017-09-30                     Turkey  244.55
12624  2017-09-30              United States     NaN
12625  2017-09-30                  Euro area     NaN
12626  2017-09-30               South Africa  143.11

[12627 rows x 3 columns]

In [16]:
df1 = df1.dropna()
df1 # should expect 12627 - 8066  = 4561

df1.to_csv('data/nominal-index_csv_cleaned.csv', index = False)

In [ ]:
df2 = df2.dropna()
df2 # should expect 12627 - 8066  = 4561

#df2.to_csv('data/nominal-index_csv_cleaned.csv', index = False)